@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter/Inter-Regular.woff2') format('woff2'), url('/fonts/inter/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter/Inter-Italic.woff2') format('woff2'), url('/fonts/inter/Inter-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/inter/Inter-Medium.woff2') format('woff2'), url('/fonts/inter/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/inter/Inter-MediumItalic.woff2') format('woff2'),
    url('/fonts/inter/Inter-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/inter/Inter-SemiBold.woff2') format('woff2'), url('/fonts/inter/Inter-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/inter/Inter-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/inter/Inter-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/inter/Inter-Bold.woff2') format('woff2'), url('/fonts/inter/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/inter/Inter-BoldItalic.woff2') format('woff2'),
    url('/fonts/inter/Inter-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
    url('/fonts/inter/Inter-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/inter/Inter-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/inter/Inter-Black.woff2') format('woff2'), url('/fonts/inter/Inter-Black.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/inter/Inter-BlackItalic.woff2') format('woff2'),
    url('/fonts/inter/Inter-BlackItalic.woff') format('woff');
}

body {
  @apply antialiased;
  font-family: 'Inter', sans-serif;
  background: #f9fafb;
  color: #333;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.35s forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.fadeOut {
  animation: fadeOut 0.3s forwards;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
