@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-800 bg-gray-50;
  /* TODO: switch to Inter when we are on Next.js 13 that can load custom fonts without layout shift and with better performance */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.35s forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.fadeOut {
  animation: fadeOut 0.3s forwards;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
